/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.*/

@keyframes arrow-move {
    0% {
      transform: translateX(-4px);
    }
    100% {
      transform: translateX(4px);
    }
}

@keyframes heart-scale {
    to {
      transform: scale(1.5);
    }
}

@keyframes like-sparks {
    to {
      fill: var(--heart__red-color);
    }
}