/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color);
  font-family: var(--font-family-main);
  background-attachment: fixed;
  background-image: var(--page__background);
}

/* header */
/*--------------------------------------------------------------*/

.header {
  max-width: 700px;
  border: 2px solid var(--accent-color);
  margin: 100px auto 100px;
  padding: 136px 0 20px;
  font-family: var(--font-family-accent);
  font-variation-settings: "wght" var(--standart-font-weight);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  text-transform: uppercase;
}

.title {
  margin-bottom: 19px;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.subtitle {
  margin-bottom: 25px;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 9px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  text-transform: uppercase;
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
  transition: color 0.3s ease-in-out;
}

.theme-menu__button:hover {
  color: var(--accent-color-opacity);
}

.theme-menu__button:disabled {
  color: var(--accent-color-opacity);
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  color: var(--accent-color-opacity);
  content: "▶";
  position: absolute;
  left: -20px;
  width: 14px;
  height: 14px;
  animation: arrow-move 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: var(--accent-color-opacity);
  transition: width 0.3s ease-in-out;
}

.theme-menu__button:focus {
  outline: none;
  color: var(--accent-color-opacity);
}

.theme-menu__button:focus-visible {
  outline: none;
  color: var(--accent-color-opacity);
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

/* cards */
/*--------------------------------------------------------------*/

.card {
  background-color: var(--background-color);
  max-width: 700px;
  margin: auto;
  border: 2px solid var(--accent-color);
}

.card:not(:last-child) {
  margin-bottom: 52px;
}

.card__title {
  padding: 3.5px 10px 5.5px;
  font-variation-settings: "wght" var(--bold-font-weight);
  font-size: var(--medium-font-size);
  line-height: 21.78px;
  border-bottom: 2px solid var(--accent-color);
}

.zero .card__title {
  padding: 4px 10px 6px;
}

.wrapper {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
  width: 100%;
  height: 696px;
  overflow: hidden;
}

.card__image {
  position: absolute;
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 100%;
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(500%);
}

.filter-hue-and-sepia {
  filter: hue-rotate(15deg) sepia(15%);
}

.filter-invert-and-contrast {
  filter: invert(0.7) contrast(120%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-blur {
  filter: blur(15px);
}

.filter-hue-and-contrast-and-blur {
  filter: hue-rotate(110deg) contrast(60%) blur(1px);
}

.card__label {
  opacity: 0.5;
  position: absolute;
  font-family: var(--font-family-accent);
  font-variation-settings: "wght" var(--standart-font-weight);
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
  text-align: end;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 1px var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 25px;
}

.card__text {
  font-variation-settings: "wght" var(--card__text-font-weight);
  font-size: var(--medium-font-size);
  line-height: 21px;
}

.like-icon:hover .core {
  fill: var(--heart__contour-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--heart__red-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart__red-color);
  transition: fill 0.3s linear;
}

.core {
  fill: none;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--heart__contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--heart__red-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart__red-color);
  transition: fill 0.3s linear 0.05s;
}

.main-body {
  fill: none;
  transition: fill 0.3s linear;
}

.like-icon:focus {
  outline: none;
}

.like-icon.is-liked .contour {
  fill: var(--heart__red-color);
  transition: fill 0.3s linear 0.06s;
}

.contour {
  fill: var(--heart__contour-color);
  transition: fill 0.1s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s ease-in 0.3s alternate;
}

.sparks {
  fill: none;
}

/* buttons not header*/
/*--------------------------------------------------------------*/

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 7px;
}

.button {
  font-family: var(--font-family-accent);
  font-variation-settings: "wght" var(--standart-font-weight);
  font-size: var(--small-font-size);
  position: relative;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  box-shadow: none;
  transition: box-shadow 0.3s ease-in-out;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  color: var(--button__text-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.save__button {
  width: 335px;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dialog__button {
  inline-size: 293px;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  width: 42px;
  height: 38px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

/* memories */
/*--------------------------------------------------------------*/

.memories {
  margin: 50px auto 103px;
  max-width: 335px;
}

.save__icon {
  width: 21px;
  height: 21px;
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
  color: var(--button__text-color);
}

.dialog-floppy {
  margin: auto;
  position: fixed;
  inset: 0;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  transition: opacity 0.3s ease-in-out;
  width: 353px;
  padding: 28px 0;
}

.dialog-floppy::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-floppy[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.dialog-floppy:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.form-floppy {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  width: 39px;
  height: 39px;
  color: var(--accent-color);
}

.dialog__text {
  font-family: var(--font-family-accent);
  font-variation-settings: "wght" var(--standart-font-weight);
  font-size: var(--small-font-size);
  line-height: 21px;
  color: var(--accent-color);
  text-transform: uppercase;
  max-width: 234px;
}

/* свойства для экранов до 375px */
@media (width <= 375px) {
  /* header */
  /*--------------------------------------------------------------*/

  .header {
    padding: 120px 0 20px;
  }

  .title {
    font-size: var(--big-font-size);
    line-height: var(--big-font-size);
  }

  .subtitle {
    font-size: var(--small-font-size);
    line-height: var(--small-font-size);
  }

  /* cards */
  /*--------------------------------------------------------------*/

  .card {
    width: 100vw;
  }

  .wrapper {
    height: 375px;
  }

  .card__label {
    right: 13px;
  }

  /* memories */
  /*--------------------------------------------------------------*/

  .memories {
    margin: 52px auto 100px;
    max-width: 306px;
  }

  .save__button {
    width: 306px;
    height: 84px;
    flex-direction: column;
  }

  .save__icon {
    width: 28px;
    height: 28px;
  }

  .dialog-floppy {
    width: 341px;
  }

  .dialog__text {
    max-width: 198px;
  }

  .dialog__button {
    inline-size: 257px;
  }
}
